<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ted.assignment1.MainActivity">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ted.assignment1.MainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".enter_photo_info"
            android:label="@string/title_activity_enter_photo_info"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ted.assignment1.MainActivity.MainActivity" />
        </activity>
        <activity
            android:name=".ListDBActivity"
            android:label="helloworld"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ted.assignment1.MainActivity.MainActivity" />
        </activity>
    </application>

</manifest>